.configure_stock
{
    margin: 0 20px 30px 20px ;
}
.configure_stock p{
    color: gray;
    font-size: medium;

}
.configure_stock form {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
.create_btn button
{
    background-color: rgb(92, 15, 92);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}