.stock_tracker 
{
margin: 0 20px 0 20px ;
}
.stock_tracker p
{
font-weight: bold;
font-size:large;
}
.track_checkbox form {
    font-size: medium;
}
.price input {
    width: 90%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}